/* Tags */
body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir"

}
h1 {
	background-color: steelblue;
	color: white;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 20px 0;
}

/* Classes */
.square {
	width: 30%;
	background: green;
	padding-bottom: 30%; /*Puts space so the color is visual*/
	float: left; /*Makes squares not line up vertically*/
	margin: 1.66%; /*Boxes are 1.66% of their container*/
}
.stripe {
	background: white;
	height: 30px;
	text-align: center;
}
.selected {
	background-color: blue;
}

/* IDs */
#container {
	max-width: 600px;
	margin: 0 auto; /*Centers the container on the screen*/
}
#colorDisplay {
	font-size: 200%;
	line-height: 1.1;
}